<!-- Modal -->
<div class="modal" id="deleteShiftModal" tabindex="-1" aria-labelledby="deleteShiftModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteShiftModalLabel">Delete a Shift</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="modalClose('deleteShiftModal')"></button>
        </div>
        <div class="modal-body">
            <div class="px-7 pb-3 d-flex justify-content-start align-items-center w-100">
                <p class="whitespace-pre-line text-secondary">
                    Are you sure you want to delete this shift?
                    Your request will be sent to your instructor for confirmation.
                </p>
            </div>
            <!-- Beginning of Form content -->
            <form id="deleteForm" action="./shifts" method="POST">
            </form>
            <!-- Bottom of modal -->
            <div class="px-7 pt-1 pb-7 d-flex justify-content-start align-items-center w-100">
                <button type="submit" form="deleteForm" class="w-100 btn btn-danger">
                    Delete
                </button>
                <button type="button" onclick="modalClose('deleteShiftModal')" class="w-100 btn btn-secondary ms-3">
                    Cancel
                </button>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>



