<!-- The following div is the container of the application. -->
<div id="container-app">
    <!-- The following h3 provides a tip to the user. -->
    <h3 class="text-center p-4">Tip: To input a shift, click on a date, input your site and shift type, and click Add Shift</h1>
    <!-- The following div is the container of the calendar. -->
    <div id="calendar"></div>
</div>

<%- include("./modals/addSelfShift") %>

<%- include("./modals/editSelfShift") %>

<%- include("./modals/deleteSelfShift") %>
