<!-- The following div is the container of the application. -->
<div id="container-app">
    <!-- The following div is the container of the calendar. -->
    <div id="calendar"></div>
</div>

<%- include("./modals/addSelfShift") %>

<%- include("./modals/editSelfShift") %>

<%- include("./modals/deleteSelfShift") %>
