<!-- ---------This is the FAQ page------------ -->

<center>
  <h2>Frequently Asked Questions</h2>
  </center>
  
  <div class="tabset">
    <!-- Student Tab -->
    <input type="radio" name="tabset" id="tab1" aria-controls="Student" checked>
    <label for="tab1">Student</label>
    <!-- Instructor Tab -->
    <input type="radio" name="tabset" id="tab2" aria-controls="Instructor">
    <label for="tab2">Instructor</label>
    <!-- Admin Tab -->
    <input type="radio" name="tabset" id="tab3" aria-controls="Admin">
    <label for="tab3">Admin</label>
    
    <div class="tab-panels">
  
      <section id="Student" class="tab-panel">

        <p>
          <b><u>Panel Overview</u></b><br><br>

          <u>Dashboard Panel</u><br>

          <img src="./images/faq-images/dashboard-panel.png" alt="Dashboard Panel" style="width:70%"><br>
          The dashboard panel will show the student's shifts in the current month. In addition, a student can print, and select 
          what month to view the shifts.<br><br>

          <u>Calendar Panel</u><br>

          <img src="./images/faq-images/calendar-panel.png" alt="Calendar Panel" style="width:60%"><br>
          The calendar panel will allow a student to add, delete or edit a shift.<br><br>
        </p>

        <br><hr><br>

        <p>
          <b>1) Where can I print my schedule?</b><br>
          The print function can be used in the <b>dashboard panel</b> and the <b>calendar panel</b>. To print, do the following to which applies.<br><br>

          Dashboard:<br>
          In the <b>dashboard panel</b> on the top right, click <b>Print.</b><br>
          <img src="./images/faq-images/student-print-sched.png" alt="Printing in dashboard panel" style="width:50%"><br>
          When the print prompt pops up, select the printer you would like to print on and select/edit the settings to which applies 
          to you. When finished, click <b>Print</b>.<br><br><br>

          Calendar:<br>
          In the <b>calendar panel</b> on the top right, click <b>Print.</b><br>
          <img src="./images/faq-images/student-calendar-print.png" alt="Printing in calandar panel" style="width:50%"><br>
          When the print prompt pops up, select the printer you would like to print on and select/edit the settings to which applies 
          to you. When finished, click <b>Print.</b>
          <br><hr><br>
        </p>

        <p>
          <b>2) How can I input a shift on the calendar?</b><br>
          To input a shift on the calendar, in the <b>calendar panel</b>, click or drag a date box. When the “Add a Shift” prompt pops up, 
          edit/add what applies to you. When finished, click <b>save changes</b>.<br>
          <img src="./images/faq-images/student-calendar-add-shift.png" alt="Input shift on calendar" style="width:50%"><br>
          <br><hr><br>
        </p>

        <p>
          <b>3) How to delete/edit a shift on the calendar?</b><br>
          To delete a shift, in the calendar panel, click on the shift in the calendar. When the “Edit a Shift” prompt pops up, edit 
          your changes and click Save Changes, or Delete Shift to delete the shift.<br>
          <img src="./images/faq-images/student-calendar-delete-shift.png" alt="Delete/edit shift on calendar" style="width:50%"><br>
          <br><hr><br>
        </p>

        <p>
          <b>4) What to do when the print menu screen is frozen?</b><br>
          If the print menu is frozen, you can click the print button again. If it remains frozen, you can clear the cache of your 
          web browser and refresh the page.<br><br>

          <b>Note:</b> Every browser is different, look up how to remove cache from your specific browser.<br>
          <br><hr><br>
        </p>

        <p>
          <b>5) How to export the dashboard/calendar to a pdf and save?</b><br>
          To export the dashboard or calendar to a pdf, in the <b>dashboard panel</b> or <b>calendar panel</b>, click <b>Print</b> on the top right corner. 
          (Further details, please refer to <b>“Where can I print my schedule”</b>). When the print prompt pops up, Select <b>Microsoft Print to 
          PDF</b> and click <b>Print.</b> Now you can save the PDF to the desired location on your device.<br>
          <img src="./images/faq-images/student-print-saveas-PDF.png" alt="Export to pdf" style="width:50%"><br>
          <br><hr><br>
        </p>

      </section>
  
      <section id="Instructor" class="tab-panel">
        <p>
          <b><u>Panel Overview</u></b><br><br>

          <u>Dashboard Panel</u><br>

          <img src="./images/faq-images/dashboard-panel.png" alt="Dashboard Panel Default" style="width:70%"><br>

          In the dashboard panel, the instructor can access the section's monthly schedule for all students in the panel
          and can also view and print schedules for previous and upcoming months.<br><br>

          <u>Section Panel</u><br>

          <img src="./images/faq-images/section-panel.png" alt="Section Panel Default" style="width:60%"><br>

          In the section panel, the instructor can view all the students in their section.
          The instructor can also search students and edit a student's schedule by clicking the highlighted name.<br><br>

          <b>Note:</b> If the instructor cannot see the section panel, this means the instructor either does not have the instructor role or is not assigned to a section.
          Please contact an administrator.<br><br>

          <u>Instructor Panel</u><br>

          <img src="./images/faq-images/instructor-panel.png" alt="Instructor Panel Default" style="width:60%"><br>

          In the instructor panel, the instructor can view all the students from different sections or unassigned.
          The instructor can assign a student to different sections, delete or search for a student.<br><br>
        </p>
        
        <br><hr><br>

        <p>
          <b>1) How to move/remove/search a student from a section?</b><br>
          First, we need to go into the <b>Instructor Panel</b>. Then read the following:<br><br>
          Move Student: Click the Section dropdown box and move the student to the desired section.<br>
          Remove Student: Click the red box under delete beside the student you want to remove.<br>
          Search Student: Click the box beside Search and search for the student.<br>
          <img src="./images/faq-images/instructor-tab-overall-img.png" alt="Instructor How to search/move/remove a student from a section" style="width:70%"><br>
          <br><hr><br>
        </p>
        
        <p>
          <b>2) How to search for a student in the Section Panel?</b><br>
          While logged into your instructor account, click the box beside <b>Search</b>
          and search for the student.<br>
          <img src="./images/faq-images/instructor-search-student-section-img.png" alt="Instructor search for students in section panel" style="width:70%"><br>
          <br><hr><br>
        </p>

        <p>
          <b>3) How to edit/delete a student's schedule?</b><br>
          First, we need to go into the <b>Section Panel</b>.<br>
          Then search for the student and click the student's name (highlighted blue).
          A new page will pop up and this is where you can edit <b>Shift Date</b>, <b>Shift Type</b>, <b>Site</b> or <b>Delete</b> a shift. 
          Once finished, click Update Shifts.<br><br>
          <b>Note:</b> If the instructor cannot see the section panel, this means the instructor either does not have the instructor role or is not assigned to a section.
          Please contact an administrator.<br>
          <img src="./images/faq-images/instructor-edit-and-delete.png" alt="Instructor edit and delete student's schedule" style="width:70%"><br>
          <br><hr><br>
        </p>
        
      </section>
  
      <section id="Admin" class="tab-panel">

        <p>
          <b><u>Panel Overview</u></b><br><br>

          <u>Dashboard Panel</u><br>
          <img src="./images/faq-images/dashboard-panel.png" alt="Dashboard Panel for Admin/Dev" style="width:70%"><br>
          In the dashboard panel, the admin can access the section's monthly schedule for all students in the panel and can also view and print 
          schedules for previous and upcoming months.<br><br>

          <u>Section Panel</u><br>
          <img src="./images/faq-images/section-panel.png" alt="Section Panel for Admin/Dev" style="width:70%"><br>
          In the section panel, the admin can view all the students in their section. The admin can also search students and edit a student's 
          schedule by clicking the highlighted name. <br><br>

          <b>Note:</b> If a message prompts that the admin is not in a section, this means the admin is not assigned to a section. The admin will have to 
          assign themselves to a section.<br><br>
          
          <u>Admin Panel</u><br>
          <img src="./images/faq-images/admin-panel.png" alt="Admin Panel for Admin/Dev" style="width:70%"><br>
          In the admin panel, the admin can view all the users, instructors, sites and sections by clicking 1 of the 4 tabs on the top left corner. 
          The admin can delete, search, edit roles, sites or sections.<br><br>
        </p>
        
        <br><hr><br>

        <p>
          <b>1) How to change/assign a user's role?</b><br>
          In the <b>admin panel</b>, click the users tab and search for the user. Under role, you can select what role you want to change the user to.<br>
          <img src="./images/faq-images/admin-change-role.png" alt="Change/assign a user's role" style="width:70%"><br>
          <br><hr><br>
        </p>

        <p>
          <b>2) How to view instructors?</b><br>
          In the <b>admin panel</b>, click the instructors tab. This will show all the instructors and admins.<br>
          <img src="./images/faq-images/admin-show-admins-instructors-pic4.png" alt="View instructors" style="width:70%"><br>
          <br><hr><br>
        </p>

        <p>
          <b>3) How to add a new site?</b><br>
          In the <b>admin panel</b>, on the right side of the page, click <b>add site</b>.<br>
          <img src="./images/faq-images/admin-add-site-pic2.png" alt="Add a new site" style="width:70%"><br>
          <br><hr><br>
        </p>
        
        <p>
          <b>4) How to add a new section?</b><br>
          In the <b>admin panel</b>, on the right side of the page, click <b>add section</b>.<br>
          <img src="./images/faq-images/admin-add-section-pic3.png" alt="Add a new section" style="width:70%"><br>
          <br><hr><br>
        </p>
        
        <p>
          <b>5) How to assign/change a student to a section?</b><br>
          In the <b>admin panel</b>, click <b>Users</b>, search for the student in the search bar and under section, you can select what section 
          you want to move the user to.<br>
          <img src="./images/faq-images/admin-add-students-to-section.png" alt="Assign/change student to section" style="width:70%"><br>
          <br><hr><br>
        </p>

      </section>
  
    </div>
    
  </div>
  
  <!-- ------------------------ -->
  <!-- STYLING FOR THE FAQ PAGE -->
  <!-- ------------------------ -->
  
  <style>
  
  .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3){
    display: block;
  }
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 10px 15px 8px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    color: rgb(41,55,240);
    margin-right: -2px;
    margin-left: -2px;
  }
  
  .tabset > label:hover {
    border-color: rgba(73, 80, 87, 0.1);
    padding: 10px 15px 8px;
  }
  
  .tabset > input:focus + label {
    color: rgb(73, 80, 87);
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    color: rgb(73, 80, 87)
  }
  
  .tab-panel {
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  
  body {
    padding: 30px;
  }
  
  .tabset {
    max-width: 65em;
  }
  </style>