<!-- Made by: Mike Picus -->
<!-- Date: 2023-02-05 -->

<!-- This is the main page of the project. Head and navbar are located in layout.ejs and nav.ejs -->
<!-- P.S. Upon editing anything in this project, please leave nice and detailed comments for the future developers. -->


<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Preceptorship Tracker</h1>
                    <p class="lead fw-normal text-muted mb-5">The Preceptorship Tracker project is creating a digital tool for nursing instructors to track student progress. It will replace the current paper-based and unsecured digital system, making it easier for instructors to manage schedules and visit locations. This will also help protect student privacy and allow students to update their schedules in real-time. The tool will also help instructors keep track of student attendance.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start logo" style="margin-top: -225px; margin-left: 110px;">
                    <img src="./images/Logo.png" alt="Logo">
                </div>                              
                </div>
            </div>
        </div>
    </div>
</header>


