.t_margin {
    margin-top: 125px;
}

.modal {
    z-index: 1050;
}
.highlighted{
    background: rgba(84, 136, 28, 0.3) !important;
}
#container-app{
    height: 84vh;
}

#calendar > div.fc-view-harness.fc-view-harness-passive > div > table > thead > tr > th:nth-child(3) > div > div > div > table > tbody > tr:nth-child(2){
    font-size: 13px;
    color: #2C3E50;
}

.highlighted{
    background: rgba(84, 136, 28, 0.3) !important;
}

.delete_btns{
    height: 30px;
    width: 30px;
}

/* buttons in admin panel */

#addSecModalButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

#addSiteModalButton {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* filters in admin panel */
#user_table_filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

#instructor_table_filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

#section_table_filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* tables in admin panel */
#section_table {
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

#instructor_table {
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

#user_table {
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

#site_table {
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.fc-col-header-cell-cushion{
    font-size: 13px;
    color: #2C3E50;
}

.fc-daygrid-day-number {
    font-size: 13px;
    color: #2C3E50;
    text-decoration: none;

}

.fc .fc-timeline-slot-cushion {
    font-size: 13px;
    color: #2C3E50;
    text-decoration: none;
}


.printme {
	display: block;
}
@media print {
	.no-printme  {
		display: none;
	}
	.printme  {
		display: block;
	}
}